<div class="">
    <div class="">
        <h6>Category</h6>
        <hr>
        <div *ngFor= "let allcategories of category;  index as i;" class="custom-control custom-radio m-2">
            <input type="radio" value="{{allcategories._id}}" id="a{{i}}" name="customRadio" class="custom-control-input">
            <label (click)='categorySelected(allcategories._id)' class="custom-control-label" for="a{{i}}">{{allcategories.name}}</label>
        </div>
      
    </div>
    <div class="">
        <h6>Price</h6>
        <hr>
        <select name="min" class="form-control mb-2" id="">
       <option value="100">100</option>
        </select>

        <select name="max" class="form-control" id="">
            <option value="100">100</option>
             </select>
             <div class="mt-2">
                 <button  class="btn btn-block btn-md btn-light- border rounded">Filter</button>
             </div>
     
    </div>
</div>